<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align: center;">
    <h1>Welcome to {{ title }}!</h1>
</div> -->

<!-- <app-comp-deco miAttributo="Valor de muestra del atributop"></app-comp-deco> -->
<!--
<div class="padre">
    <table>
        <th colspan="2" style="text-align: center;">PAdre</th>
        <tr>
            <td>Valor 1</td>
            <td><input type="text" class="form-control" [(ngModel)]="valor1" /></td>
        </tr>
        <tr>
            <td>Valor 2</td>
            <td><input type="text" class="form-control" [(ngModel)]="valor2" /></td>
        </tr>
        <tr>
            <td>Resultado</td>
            <td><b>{{ resultado }}</b></td>
        </tr>
    </table>
</div>

<app-compbycomp [valor1]="valor1" [valor2]="valor2" (envRes)="captchaResult($event)"></app-compbycomp> -->

<!-- <hr>
<div class="container bg">
    En app.componente <input type="text" class="form-control" [(ngModel)]="salidaPadre">
    <br>
</div>
<br>
<hr>
<app-complifehook [entradaHijo]="salidaPadre"></app-complifehook> -->
<!--
<input type="checkbox" (change)="checkFondo()" /> Fondo. (fondoAmarillo = {{ fondoAmarillo }})
<br />
<input type="checkbox" (change)="checkLetra()" /> Tam. Letra (letragrande = {{ letraGrande }})
<hr />
<div [ngClass]="asignaClases()">
    Este texto variara segun el resultado del método.
    <br> Si fondoAmarillo = true -> el fondo será amarillo
    <br> Si letraGrande = true -> las letras serán grandes
</div>
<hr /> -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

<h1>{{ title }}</h1>

<div class="container" style="text-align: center;">
    <button class="btn btn-success tamB" (click)="(mostrar =! mostrar); pares = true; impares = true">
    Mostrar. (mostrar = {{ mostrar }})
  </button>
    <br />
    <br />
</div>
<div class="container divBg" *ngIf="mostrar">
    <input type="checkbox" name="pares" id="" [(ngModel)]="pares" />
    <span [ngClass]="clActividad(pares)">Pares</span>
    <br />
    <input type="checkbox" name="impares" id="" [(ngModel)]="impares" />
    <span [ngClass]="clActividad(impares)">Impares</span>
    <br />
    <div class="list-group-item-info" *ngFor="let numero of numeros; let i = index">
        <div [ngSwitch]="i % 2">
            <div *ngSwitchCase="'1'">
                <p *ngIf="pares">
                    <span [ngStyle]="{ color: colorpar }">
            {{ i + 1 }} - Numero: <b>{{ numero }}</b>
          </span>
                </p>
            </div>
            <div *ngSwitchCase="'0'">
                <p *ngIf="impares">
                    <span [ngStyle]="{ color: colorInpar }">
            {{ i + 1 }} - Numero: <b>{{ numero }}</b>
          </span>
                </p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
