div {
    width: 250px;
    padding: 20px;
    display: block;
    text-align: center;
}

.padre {
    background: #abe4b8;
}

.hijo {
    background: #5af0f0;
}

.tamB {
    /* height: 53px;
    width: 53px;
    font-size: 20px; */
    height: 40px;
    width: 50%;
}

.fa {
    background-color: rgb(255, 246, 51);
}

.lg {
    font-size: 200px;
}

.divBg {
    border: 10px solid green;
    width: 70%;
    background-color: #F3F781;
}

.activo {
    color: blue;
}

.inactivo {
    color: red;
}
